<section class="header" id="top">
    <p class="header__catchCopy">We Love Tamars</p>
</section>

<section id="about_tamars" class="homeSection" id="welcome">
    <p class="homeSection__title">Welcome to Tamars</p>
    <p class="homeSection__subTitle">たまぁ〜ずへようこそ！</p>

    <section class="homeSubSectionContainer">
        <section class="homeSubSection">
            <p class="homeSubSection__title">About Tamars</p>
            <p class="homeSubSection__text">
                僕らは電気通信大学唯一の軟式野球サークルです。<br>
                元高校球児から初心者までいろんなメンバーで、多摩川グラウンドで週2回の活動をしております。<br>
                <br>
                僕らの合言葉は  "We Love Tamars”<br>
                <br>
                たまぁ〜ずが大好きです
            </p>
        </section>

        <section class="homeSubSection">
            <a class="twitter-timeline" data-height="600" href="https://twitter.com/tamars_uec?ref_src=twsrc%5Etfw">Tweets by tamars_uec</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </section>

    </section>
</section>

<section class="homeSection" id="activity">
    <p class="homeSection__title">Activity</p>
    <p class="homeSection__subTitle">ぼくたちの活動！</p>

    <section class="homeSubSectionContainer">

        <section class="homeSubSection">
            <p class="homeSubSection__title">Not only baseball</p>
            <p class="homeSubSection__text">
                たまぁ〜ずの活動は野球だけじゃないよ<br>
                <br>

                みんなでB.B.Qをしたり、夏休みにはみんなで合宿をしたり、冬には学園祭で出し物をしたりと、グラウンド以外も、たまぁ〜ずの活動だよ！！<br>
                <br>
                楽しいよ！
                <br>
            </p>
        </section>

        <section class="homeSubSection">
            <p class="homeSubSection__title">Baseball Time</p>
            <p class="homeSubSection__text">毎週 火曜日  16:30 - 18:30</p>
            <p class="homeSubSection__text">毎週 土曜日  14:30 - 18:30</p>
            <br><br>
            <p class="homeSubSection__title">Home Ground</p>
            <a href="https://goo.gl/maps/WBywDNnyr6R2" class="homeSubSection__text">電気通信大学多摩川グラウンド</a>
        </section>


    </section>

    <div style="overflow-x: auto;white-space: nowrap;">
    <image src="https://res.cloudinary.com/deb7q7znp/image/upload/v1544651035/tamars_bbq3.jpg" height="250px" width="250px" style="object-fit: cover;display: inline-block;">

    <image src="https://res.cloudinary.com/deb7q7znp/image/upload/v1544651314/tamars_met.jpg" height="250px" width="250px" style="object-fit: cover;display: inline-block;">

    <image src="https://res.cloudinary.com/deb7q7znp/image/upload/v1544651375/bbq.jpg" height="250px" width="250px" style="object-fit: cover;display: inline-block;">

    <image src="https://res.cloudinary.com/deb7q7znp/image/upload/v1544651524/c925145570c638096041f21bd3fa4cfa3_8922915_181213_0014.jpg" height="250px" width="250px" style="object-fit: cover;display: inline-block;">

    <image src="https://res.cloudinary.com/deb7q7znp/image/upload/v1544651621/tamars_taikai1.jpg" height="250px" width="250px" style="object-fit: cover;display: inline-block;">

    <image src="https://res.cloudinary.com/deb7q7znp/image/upload/v1544652756/c925145570c638096041f21bd3fa4cfa3_8922915_181213_0015.jpg" height="250px" width="250px" style="object-fit: cover;display: inline-block;">






    <image src="https://res.cloudinary.com/deb7q7znp/image/upload/v1544653163/c68d1201e009ba02d4fbc1d2c56dfb11c_11525330_181213_0333.jpg" height="250px" width="250px" style="object-fit: cover;display: inline-block;">

    <image src="https://res.cloudinary.com/deb7q7znp/image/upload/v1544653163/c68d1201e009ba02d4fbc1d2c56dfb11c_11525330_181213_0337.jpg" height="250px" width="250px" style="object-fit: cover;display: inline-block;">

    <image src="https://res.cloudinary.com/deb7q7znp/image/upload/v1544653163/c68d1201e009ba02d4fbc1d2c56dfb11c_11525330_181213_0325.jpg" height="250px" width="250px" style="object-fit: cover;display: inline-block;">

    <image src="https://res.cloudinary.com/deb7q7znp/image/upload/v1544653163/c68d1201e009ba02d4fbc1d2c56dfb11c_9440503_181213_0003.jpg" height="250px" width="250px" style="object-fit: cover;display: inline-block;">



    </div>
</section>

</section>

<section class="homeSection" id="shinkan">
    <p class="homeSection__title">Shinkan!!</p>
    <p class="homeSection__subTitle">カモン！新入生!</p>

    <p style="font-size: 19px;line-height: 2em;">こんにちは！新入生諸君！！僕らは電気通信大学で唯一の野球サークルです。<br>
        <br>
        たまぁ〜ずにはいろんなメンバーがいます。元高校球児のバリバリ野球選手から大学から野球をはじめるメンバー、女子プレイヤーだっているよ！<br>
        <br>
        ”個性豊かなメンバー”　と　”ワイワイ野球がしたい！”　”最高の仲間を見つけたい！”<br>
        <br>
        そんな君はたまぁ〜ずでキマリだね　グラウンドで待ってるよ<br>
    </p>

    <br>
    <p class="homeSubSection__title">いつでもカモンな練習時間</p>
    <p class="homeSubSection__text">毎週 火曜日  16:30 - 18:30 </p>
    <p class="homeSubSection__text">毎週 土曜日  14:30 - 18:30</p>


</section>


<section class="homeSection" id="access">
    <p class="homeSection__title">Access</p>
    <p class="homeSection__subTitle">たまグラにおいでよ！</p>
        <p class="homeSubSection__text">
            電気通信大学多摩川グラウンドは、調布駅中央口から徒歩20分です。体力に自身がある君は、走って5分を目指してね！<br>
            <br>
            ※お車でお越しになる場合は、事前にご連絡ください。
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7579.312574933488!2d139.53381577469824!3d35.64224225603794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf421a20d6a53f806!2z6Zu75rCX6YCa5L-h5aSn5a2m5aSa5pGp5bed44Kw44Op44Oz44OJ!5e0!3m2!1sja!2sjp!4v1540635945466" width="1000" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    <section class="homeSubSection">
        <p class="homeSubSection__title">Home Ground</p>
        <p class="homeSubSection__text">電気通信大学多摩川グラウンド</p>
        <p class="homeSubSection__text">外野が芝生のいいグラウンド</p>
        <img src="https://res.cloudinary.com/deb7q7znp/image/upload/v1544650546/tamars.jpg">
    </section>
</section>

<section class="homeSection" id="contact_us">
    <p class="homeSection__title">Contact Us</p>
    <p class="homeSection__subTitle">練習試合どんとこい！</p>
    <p class="homeSubSection__text">
        毎週土曜日午後、めっちゃくちゃ練習試合を募集しています！ぜひご連絡ください。<br>
        もちろん新入生などのご連絡もこちらからどうぞ<br>
        <br>
        Email: tamars.uec@gmail.co
        <br>
        Twitter(DM): @tamars<br>
        <br>
        ※上記のお時間に合わない場合でも、日程調整ができる場合がございます。ご気軽にご連絡ください。
    </p>
</section>

<style>
@media screen and (min-width: 767px) {
    .homeSection {
        padding: 60px 0;
        width: 1000px;
        margin: 0px auto;
        border-bottom: 1px solid #74C3E8;
    }

    .homeSection__title {
        font-size: 60px;
        font-weight: bold;
    }

    .homeSection__subTitle {
        color: #888;
        font-size: 1.25em;
        font-weight: bold;
    }

    .homeSection__text {
        line-height: 2em;
        font-size: 1.25em;
        font-weight: bold
    }

    .homeSubSectionContainer {
        display: flex;
    }

    .homeSubSection {
        width: 450px;
        padding: 40px 0;
        margin-right: 45px;
    }

    .homeSubSection__title {
        margin-bottom: 40px;
        font-size: 45px;
        font-weight: bold;
    }

    .homeSubSection__text {
        font-size: 19px;
        line-height: 2em;
        font-weight: bold;
    }

    .header {
        width: 100%;
        height: 60vw;
    }

    .header__catchCopy {
        font-size: 100px;
        position: absolute;
        top: 500px;
        right: 100px;
        color: white;
        font-weight: bold;
    }

    .header:before {
        width: 100vw;
        height: 100vh;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        -visibility: hidden;
        -webkit-transform: translateZ(0) scale(1.0, 1.0);
        transform: translateZ(0);
        background: #1B2030 url("https://res.cloudinary.com/deb7q7znp/image/upload/v1544650033/tamars1.jpg") no-repeat;
        background-size: cover;
        background-position: center bottom;
        background-attachment: fixed;
        z-index: -2;
    }
}

@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/

}
</style>