<!DOCTYPE html>
<html lang="ja">
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
  <meta charset="UTF-8">
  <title>たまぁ〜ず | 電気通信大学軟式野球サークル野球サークル</title>
  <meta name="description" content="毎日楽しくBaseball">
  <meta name="keywords" content="たまぁ〜ず, 軟式野球, 野球, 電気通信大学, 電通大">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <!-- jQuery読み込み -->
</head>
<body>
<nav class="globalNavContainer">
  <div class="globalNav__logo">
    <a style="font-size: 25px;color: black;width: 100px;">Tamars</a>
  </div>
  <div class="menu_background">
    <nav class="menu_container">
        <ul class="menu">
          <li class="menu__item"><a href="#top">TOP</a></li>
          <li class="menu__item"><a href="#about_tamars">#About Tamars</a></li>
          <li class="menu__item"><a href="#activity">#Activity</a></li>
          <li class="menu__item"><a href="#shinkan">#Shinkain!</a></li>
          <li class="menu__item"><a href="#access">#Access</a></li>
          <li class="menu__item"><a href="#contact_us">#Contact Us</a></li>
        </ul>
    </nav>
  </div>
  <p class="hamburgerBtn">
    <span></span>
    <span></span>
    <span></span>
  </p>

</nav>

<div style="position: relative; padding-left:10px;padding-right: 10px;">
  <%= yield %>
</div>
<style>

.globalNavContainer {
  position: fixed;
  height: 60px;
  width: 100%;
  padding-top: 10px;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}

.globalNav {
  display: flex;
  justify-content: space-around;
  width: 800px;
}

.globalNav__itemInner {
  position: absolute;
  bottom: 15px;
}

.globalNav__item {
  font-size: 18px;
}



.grobalNav__navItem {

}

.grobalNav__navItemContainer {

}

.hamburgerBtn,
.hamburgerBtn span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.hamburgerBtn {
  margin-top: 5px;
  position: relative;
  width: 40px;
  height: 30px;
}
.hamburgerBtn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: black;
  border-radius: 4px;
}
.hamburgerBtn span:nth-of-type(1) {
  top: 0;
}

.hamburgerBtn span:nth-of-type(2) {
  top: 13px;
}
.hamburgerBtn span:nth-of-type(3) {
  bottom: 0;
}

.hamburgerBtn.clicked span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(13px) rotate(-45deg);
}
.hamburgerBtn.clicked span:nth-of-type(2) {
  opacity: 0;
}
.hamburgerBtn.clicked span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-13px) rotate(45deg);
}

li {
  list-style: none;
}
a {
  color: black
}

a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}

a:hover::after {
  transform: scale(1, 1);
}

a:hover {
  text-decoration: none;
  color: black
}


body {
  font-family: "YakuHanJPsLight", "proxima-nova", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
  background-color: white;
  font-weight: bold;
}

.menu_container {
  display: none;
  text-align: center;
}

.menu_background {
  width: 100%;
  height: 100%;
  background: #00000070;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  padding-top: 50px;
}
.menu {
  padding: 0;
}

.menu__item {
  line-height: 4em;
}

.menu__item a {
  font-size: 40px;
  color: white!important;
  text-decoration: underline;
}

</style>
</body>
<script>
$(function(){
  $('a[href^="#"]').click(function(){
    var speed = 800;
    var href= $(this).attr("href");
    var target = $(href == "#" || href == "" ? 'html' : href);
    var position = target.offset().top;
    $("html, body").animate({scrollTop:position}, speed, "swing");
    return false;
  });
  $('.hamburgerBtn').on('click', function() {
    if ($(this).hasClass('clicked')) {
      $(this).removeClass('clicked');
    } else {
      $(this).addClass('clicked');
    }

    $(".menu_background").toggleClass('open');
    $(".menu_background").toggle();
    $(".menu_container").slideToggle(500);
  });

  $('.menu__item a').on('click', function() {
    if ($('.hamburgerBtn').hasClass('clicked')) {
      $('.hamburgerBtn').removeClass('clicked');
    } else {
      $('.hamburgerBtn').addClass('clicked');
    }
    $(".menu_background").toggleClass('open');
    $(".menu_background").toggle();
    $(".menu_container").slideToggle(500);
  });

});
</script>

</html>
